<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qsb.holder"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PRIVLEGED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c8c8e00c7d6072168e4551d6195f41ee" />

        <activity
            android:name="com.qiushengbao.start.Welcome"
            android:theme="@style/Theme.Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qiushengbao.uimain.Homepage"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleInstance" >
        </activity>


        <!-- 发短信 -->
        <activity android:name="com.qiushengbao.sms.sms_action.Contacts" >
        </activity>
        <activity android:name="com.qiushengbao.sms.sms_action.MainSMS" >
        </activity>

        <service android:name="com.qiushengbao.sms.service.OFF_SendSMS" >
        </service>
        <service android:name="com.qiushengbao.sms.service.SendSMS" >
        </service>
        <service android:name="com.qiushengbao.sms.service.MainSMS_write_Service" >
        </service>
        <service android:name="com.qiushengbao.sms.service.ServiceForGetContacts" >
        </service>

        <receiver
            android:name="com.qiushengbao.sms.boradcast_receiver.IsSendOrDeliver"
            android:exported="false" >
            <intent-filter>
                <action android:name="action_isSend_SMS_24h_qiushenggbao" />
                <action android:name="action_isDeliver_SMS_24h_qiushenggbao" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.qiushengbao.sms.boradcast_receiver.StartAPP" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.qiushengbao.sms.boradcast_receiver.ForSMSGetting" >
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- <pre
            name="code"
            class="html" >
            <span style="white-space:pre" >
            </span>  -->
        <!-- speading 监听语音的 -->
        <!-- 请填写应用实际的APP_ID -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11378430" />
        <!-- 请填写应用实际的API_KEY -->
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="5BnycKveNURz9hsKrGt9wlcl" />
        <!-- 请填写应用实际的SECRET_KEY -->
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="zRWNpSn34p8AzaAaWD5GRU8a1DvfOLI8" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" >
        </service>
        <!--  </pre>  -->
    </application>

</manifest>